<launch>
  <node pkg="rpicar" type="US_talker.py" name="US1">
       <param name="US_number" value="1"/>
  </node>
  <node pkg="rpicar" type="US_talker.py" name="US2">
       <param name="US_number" value="2"/>
  </node>

  <node pkg="rpicar" type="IMU_localization_talker.py" name="local_node"/>   
  <node pkg="rpicar" type="autopilot.py" name="auto"/> 
</launch>

