	<!-- <arg name = "node_start_delay" default = "2.0" />

  	<node pkg="rpicar" type="camera_talker.py" name="left_camera" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'">
  		<param name="camera" value="2"/>
  	</node>
  	<node pkg="rpicar" type="camera_talker.py" name="right_camera" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'">
  		<param name="camera" value="0"/>
  	</node> -->


<!-- <launch>
	<node pkg="rpicar" type="camera_talker.py" name="left_camera">
  		<param name="camera" value="2"/>
  	</node>
	
  	<node pkg="rpicar" type="camera_client_service.py" name="left">
  		<param name="label" value="left"/>
  	</node>
  	<node pkg="rpicar" type="camera_client_service.py" name="right">
  		<param name="label" value="right"/>
  	</node>
</launch> -->


<launch>
	<node pkg="cv_camera" type="cv_camera_node"  name="left">
  		<param name = "device_id" value="2"/>
  	</node>
</launch>