<launch>
  <!-- battery, IMU & US drivers for ROS -->
  <!-- <node pkg="rpicar" type="battery_talker.py" name="battery"/> -->
	<node pkg="rpicar" type="IMU_talker.py" name="imu"/> 
  <node pkg="rpicar" type="US_talker.py" name="US1">
       <param name="US_number" value="1"/>
  </node>
  <node pkg="rpicar" type="US_talker.py" name="US2">
       <param name="US_number" value="2"/>
  </node>
  <!-- Run usb camera driver -->
  <node pkg="rpicar" type="camera_talker.py" name="camera"/>
  <!--Run vo camera bridge -->
  <node pkg="rpicar" type="vo_covariance_talker.py" name="vo_cov_talker"/>  
  <!-- Set usb camera topics name -->
  <arg name="camera" default="/usb_camera"/>
  <!-- Run the mono image proc -->
  <node ns="$(arg camera)" pkg="image_proc" type="image_proc" name="image_proc" />
  <!-- Viso2 -->
  <node pkg="viso2_ros" type="mono_odometer" name="mono_odometer">
    <remap from="image" to="$(arg camera)/image_rect"/>
    <param name="base_link_frame_id" value="$(arg camera)"/>

    <param name="camera_height" value="1.0" />
    <param name="camera_pitch"  value="0.0" />
  </node>
  <!-- <node pkg="tf" type="static_transform_publisher" name="usb_camera_link_broadcaster" args="1 0 0 0 0 0 1 usb_camera/ usb_camera 100" /> -->
  <node pkg="rpicar" type="autopilot.py" name="autopilot"/>  
</launch>

